body 
{
font-family: 'Open Sans', sans-serif;

}

h1, h2, h3, h4, h5, h6
{
font-family: 'Droid Sans', sans-serif;
}



.intro-section{
	text-align: center;
	color: #fff;
	background-attachment: scroll;
	background-image: url(http://placehold.it/1980x1020);
	background-position: center center;
	background-repeat: none;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

footer {
background:black;

}
