nav{
    position: fixed;
    width: 100%;
    text-align: center;
    font-size: 72px;
    line-height: 108px;
    height: 108px;
    background: #335C7D;
    color: #fff;
    font-family:  sans-serif;
	padding-top: -10;
            
    // set animation
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
        }
		
nav.sticky {
    font-size: 24px;
    line-height: 48px;
    height: 48px; 
    background: #313140;
	text-align: left;
    padding-left: 20px;
        }