@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

.intro-section {
    padding-top: 150px;
    text-align: center;
    background: #fff;
	display: block;
}

.services-section {
	padding: 70px 0 100px 0;
    text-align: center;
    background: #fff;
	clear:both;
	display: block;	
}
.services-section .img-responsive{
	padding-bottom: 10px;
}

.portfolio-section{
    padding: 70px 0 80px 0;
    text-align: center;
	background:#F49241;
	clear:both;

}

.about-section {
	padding: 70px 0 80px 0;
    text-align: center;
	background: white;
	clear:both;
	display: block;
}

.contact-section{
    padding: 70px 0 50px 0;
	text-align: center;
	background:#F49241;
	clear:both;
	display: block;
	
}

.contact-section #contact-form{
	padding: 30px;
}
.contact-section label{
	color: white;
}

#map-canvas {
		margin: 0 auto;
        width: 450px;
        height: 350px;
		display: block;
      }
	  
@media(max-width: 460px)
{
	#map-canvas{
		margin: 0 auto;
		width: 300px;
		height: 300px;
		display:block;
	}
}


