/************************************** GENERAL STYLING */
html {
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
	font-family: 'Lato', sans-serif;
	background: white;
	font-size: 16px;
	margin: 0;
}
.container{
	min-height: 100%;
	height: 100%;
	margin: 0 auto -0em;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Fredericka the Great', cursive;
}
h2{
	font-size: 300%;
	padding-bottom: 50px;
	font-weight: 700;
}
a:link{
	text-decoration:none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}

/************************************** NAVBAR */
.navbar{
	background: transparent;
	border: none;
}
.navbar-default{
	box-shadow: 0px 1px 0px transparent inset, 0px 1px 5px transparent;
}
.top-nav-collapse{
	background: #333;
	opacity: 1;
}
.navbar-fixed-top{
	border-width: 0px;
}
.navbar-right{
	font-size: 105%;
	color:white;
}
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{
	color:white;
	background-color: #F2A308 ;
}
.logo{
	height: 50px;
	
}
.logo-small {
	height: 37px;
	padding-bottom: 10px;
}



@media(min-width:767px){
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }
    .top-nav-collapse {
        padding: 0;
    }
}

/************************************** HOME PAGE STYLING*/


/*********************** INTRO *******/
.intro-section{	
	height: 100%;
	text-align: center;
	background-attachment: scroll;
	background-image: url("../images/ciro-rendering.jpg");
	background-position: center center;
	background-repeat: none;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
    text-align: center;
	padding-bottom: 100px;
    padding-top: 150px;
}
#intro h1{
	font-family: 'Philosopher', sans-serif;
	font-weight: 700;
	font-size: 650%;
	color: #F2A308 ;
	display: inline-block;

}
#intro h2
{
	font-size: 270%;
	color:#333;

}
.btn{
	background: transparent;
	font-family: 'Lato', sans-serif;
	font-size: 110%;
	border-color:  	#f22e08;
	border-width: 3px;
	padding: 10px 25px 10px 25px;
	margin-top: 10px;
	color:  	#f22e08; 
}
.btn-default{
text-shadow: none;
}
.btn-default:focus, .btn-default:hover {
    background-color: white;
}
.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open > .dropdown-toggle.btn-default {
    color: 	#f22e08;
    background-color: white;
	opacity: 0.5;
    border-color:  	#f22e08;
}



/*************  MOBILE STYLING */
@media(max-width: 480px) {
  #intro h1 {
    font-size: 35pt;
  }
    #intro h2 {
    font-size: 20pt;
  }
}

@media (max-width: 480px), (max-height: 500px)
{
	.btn.btn-default{
	font-size: 10pt;
	padding: 10px;
	margin-top: 0px;
  }
}

@media(max-width: 460px) {
  #intro h1 {
    font-size: 40pt;
  }
    #intro h2 {
    font-size: 16pt;
  }

@media(max-width: 412px) {
  #intro h1 {
    font-size: 35pt;
  }
    #intro h2 {
    font-size: 14pt;
  }
}