/************************************** GENERAL STYLING */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
	font-family: 'Lato', sans-serif;
	background: white;
	font-size: 16px;
	margin: 0;
}
.container{
	min-height: 100%;
	height: 100%;
	margin: 0 auto -0em;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Lobster', serif;
}
h2{
	font-size: 300%;
	padding-bottom: 70px;
	font-weight: 700;
	color: #CA4C08;
}

#portfolio h2{
	color: white;
}
a:link{
	text-decoration:none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}

#copyrights p{
	font-size: 100%;
}

/************************************** NAVBAR */
.navbar{
	background: transparent;
	border: none;
}
.navbar-default{
	box-shadow: 0px 1px 0px transparent inset, 0px 1px 5px transparent;
}
.top-nav-collapse{
	background: #333;
	opacity: 1;
}
.navbar-fixed-top{
	border-width: 0px;
}
.navbar-right{
	font-size: 105%;
	color:white;
}
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{
	color:white;
	background-color: #F49241 ;
}
.logo{
	height: 50px;
	
}
.logo-small {
	height: 37px;
	padding-bottom: 10px;
}



@media(min-width:767px){
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }
    .top-nav-collapse {
        padding: 0;
    }
}

/************************************** HOME PAGE STYLING*/


/*********************** INTRO *******/
.intro-section{	
	height: 100%;
	text-align: center;
	background-attachment: scroll;
	background-image: url("../images/prova2.png");
	background-position: center center;
	background-repeat: none;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
    text-align: center;
	padding-bottom: 100px;
    padding-top: 150px;
}
#intro h1{
	font-family: 'Lobster', sans-serif;
	font-weight: 400;
	font-size: 550%;
	color: #333;
	text-shadow: 0px 3px 5px #aa7243;
	display: inline-block;
	margin-bottom: 0px;
}
#intro h2
{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 150%;
	padding-top: 0;
	color: #333;
	#text-shadow: 0px 2px 3px #aa7243;
	margin-top: -5px;
	

}
.btn{
	background: transparent;
	font-family: 'Lato', sans-serif;
	font-size: 110%;
	border-color:  white;
	border-width: 3px;
	padding: 10px 40px;
	margin-top: 40px;
	color:  	white; 
}
.btn-default{
text-shadow: 0px 2px 3px #333;
}
.btn-default:focus, .btn-default:hover {
    background-color: white;
}
.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open > .dropdown-toggle.btn-default {
    color: 	#CA4C08;
    background-color: white;
	opacity: 0.5;
    border-color:  	#CA4C08;
}

.btn-home{
	border-radius: 50%;
	padding: 20px 25px;
	text-shadow: none;
	border-width: 6px;
	margin: 0px;

}

.btn-home:hover {
    background-color: #CA4C08;


}

#contatti h2{
	color: #ffffff;
}




/*************  MOBILE STYLING */
@media(max-width: 480px) {
  #intro h1 {
    font-size: 35pt;
  }
    #intro h2 {
    font-size: 20pt;
  }
}

@media (max-width: 480px), (max-height: 500px)
{
	.btn.btn-default{
	font-size: 10pt;
	padding: 10px;
	margin-top: 0px;
  }
}

@media(max-width: 460px) {
  #intro h1 {
    font-size: 40pt;
  }
    #intro h2 {
    font-size: 16pt;
  }

@media(max-width: 412px) {
  #intro h1 {
    font-size: 35pt;
  }
    #intro h2 {
    font-size: 14pt;
  }
}