.tile{
	height:200px;   
    width:200px;  
    float:left;
    margin:5px;
    padding:5px;
	color: white;
	font-weight: 700;
}
.tile-long{

    width:410px;

}
.orange{
    background:#C0561A ;
}
 
.brown{
	background:#8C4646;
}
.green{
	background: #01583C;
}
.yellow{
	background:#F5BA0D;
}
.purple{
    background:#101326;  
}
@media(max-width:480px)
{
	.tile{
		height: 6em;
		width: 6em;
		font-size: 12pt;		
	}

}


@media (min-width: 481px) and (max-width:980px)
{
	.tile{
		height: 9em;
		width: 9em;
		font-size: 12pt;		
	}

}







